* {
    margin: 0;
    font-family: 'CustomFont', metropolisregular;
}

/* Navbar */

.search{
    width: 558px;
    display: flex;
    /* padding-left: 60px; */
}

.search input{
    height: 40px;
    border-radius: 100px;
    padding-left: 25px;
}

.nav-content{
    display: flex;
    margin-top: 15px;
}

.filter #filter{
    width: 10px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 1px;
    margin-left: 11px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin-top: 3px;
}

.filter button img{
    width: 20px;
    height: 25px;
    position: relative;
    margin-top: 5px;
    margin-left: -3px;
}

/* Modal */

.mbody{
    padding: 3px 3px 3px 26px;
}

.color-item{
    width: 350px;
}

/* Color Picker */
.color-black, .color-white, .color-red, .color-grey, .color-yellow, .color-blue{
    border-radius: 100px;
    border: 4px solid white;
    width: 35px;
    height: 35px;
    margin: 5px;
}

/* Black */
.color-black {
    background-color: black;
}

#black:checked ~ .color-black{
    box-shadow: 0px 0px 0px 1px red;
    /* -webkit-outline-radius: 50%; */
}

/* white */
.color-white {
    background-color: white;
    box-shadow: 1px 1px 1px 1px grey;
}

#white:checked ~ .color-white{
    box-shadow: 0px 0px 0px 1px red;
}

/* red */
.color-red {
    background-color: red;
}

#red:checked ~ .color-red{
    box-shadow: 0px 0px 0px 1px red;
}

/* grey */
.color-grey {
    background-color: grey;
}

#grey:checked ~ .color-grey{
    box-shadow: 0px 0px 0px 1px red;
}

/* yellow */
.color-yellow {
    background-color: yellow;
}

#yellow:checked ~ .color-yellow{
    box-shadow: 0px 0px 0px 1px red;
}

/* blue */
.color-blue {
    background-color: blue;
}

#blue:checked ~ .color-blue{
    box-shadow: 0px 0px 0px 1px red;
}

/* End Color Picker */

.modal-foot button{
    border-radius: 100px;
    border: none;
    width: 160px;
    height: 36px;
    margin: 0px 0px 30px 0px;
}

.modal-foot #button-discard{
    background-color: white;
    color: black;
    border: 1px solid red;
    margin-left: 20px;
}

.modal-foot #button-discard:hover{
    background-color: red;
    color: white;
}

.modal-foot #button-apply{
    background-color: red;
    margin-left: -5px;
}

.modal-foot #button-apply:hover{
    background-color: rgb(196, 0, 0);
}

.container-nav{
    padding-top: 5px;
    padding-bottom: 5px;
}

.container-nav .nav-brand{
    text-decoration: none;
    color: #DB3022;
    display: inline-block;
    /* padding-bottom: 20px; */
}

.container-nav img{
    width: 40px;
    height: 34px;
    padding-bottom: 8px;
}

.nav-item{
    display: inline-block;
    margin-bottom: 20px;
}

.nav-item a i{
    color: grey;

}

.nav-item a i:hover{
    color: red;
}

.profile-circle img{
    /* border-radius: 50%; */
    width: 16px;
    height: 16px;
}

/* content select item */

.tittle-items, .items, .right{
    border-radius: 5px;
}

.tittle-items, .items{
    width: 95%;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.589);
    font-weight: bold;
}

.tittle-items{
    margin: 2px auto;
    height: 64px;
    position: relative;
    font-size: smaller;
}

.items{
    margin: 2px auto;
    height: 200px;
    margin-top: 20px;
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
}

.items .tittle{
    font-size: small;
}

/* item product */

/* checkbox */

.form-check-input:focus {
    border-color: #ff0000;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(253, 13, 13, 0.25)
}

.form-check-input:checked {
    background-color: red;
}

.size label{
    display: inline-block;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    margin: 0px 16px 0px 0px;
}

.label-item {
    color: grey;
    font-size: small;
    border-color: rgba(108, 117, 125, .5)
}

.label-item:hover {
    color: #fff;
    background-color: red;
    border-color: red
}

.btn-check:focus+.label-item, .label-item:focus {
    box-shadow: 0 0 0 .25rem rgba(255, 0, 0, 0.384)
}

.btn-check:active+.label-item, .btn-check:checked+.label-item, .label-item.active, .label-item.dropdown-toggle.show, .label-item:active {
    color: #fff;
    background-color: red;
    border-color: red
}

.btn-check:active+.label-item:focus, .btn-check:checked+.label-item:focus, .label-item.active:focus, .label-item.dropdown-toggle.show:focus, .label-item:active:focus {
    box-shadow: 0 0 0 .25rem rgba(108, 117, 125, .5)
}

/* Filter Category */

.category button{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    position: absolute;
    top: 110px;
    /* border: 1px solid rgba(0, 0, 0, 0.274); */
    border: none;
}

.category #prev-button{
    left: -25px;
    opacity: 100;
}

.category #next-button{
    right: -25px;
    overflow-wrap: 100;
}

.category label{
    display: inline-block;
    width: 100px;
    margin: 5px 22px 5px 0px;
}

/* Brand */
#brand{
    border: none;
    margin-left: -12px;
    margin-top: -16px;
}

.brand-opt{
    width: 450px;
    color: grey;
}

/* Filter button */

.cek, .image-product, .tittle, .count, .price{
    margin: auto 0px;
}

.cek, .tittle, .count, .price{
    margin-left: 30px;
}

.cek{
    margin-left: 5px;
}

.count{
    margin-left: 45px;
    margin-right: auto;
}

.image-product img{
    width: 80px;
}

.tittle{
    margin-right: auto;
}

.price{
    padding-right: 10px;
}

.tittle-product{
    font-weight: bold;
}

.shop-product{
    color: grey;
    font-size: 15px;
}

.count button{
    /* background-color: white; */
    color: black;
    border: none;
    width: 30px;
    height: 30px;
}

.plus{
    background-color: white;
}

.plus:hover{
    background-color: rgb(224, 216, 216);
}

.minus:hover{
    background-color: grey;
}


/* .row-product{
    background-color: blue;
    width: 90%;
} */

.btn-delete{
    position: absolute;
    right: 5px;
    bottom: 23px;
    color: red;
    background-color: white;
    border: none;
    /* display: none; */
    font-size: small;
}

.btn-buy{
    width: 100%;
    background-color: #DB3022;
    color: white;
    border-radius: 20px;
}

.btn-buy:hover{
    background-color: red;
    color: white;
}


.btn-delete:hover{
    color: rgb(207, 4, 4);
}

.left, .right{
    background-color: white;
    width: 100%;
}

.right{
    margin-bottom: 30px;
}

.check-items{
    position: relative;
    top: 30%;
    left: 3%;
}

.check-item{
    position: relative;
    top: 40%;
    left: 3%;
}

.nav-item a{
    text-decoration: none;
}

#user-icon{
    display: block;
}

.navbar-toggler-icon {
    width: 0.7em;
    height: 1em;
}

/* Media query */


/* desktop */
@media (min-width: 768px){
    .search{
        width: 700px;
        display: flex;
        padding-left: 60px;
    }

    .container-nav a{
        text-decoration: none;
        color: #DB3022;
        display: inline-block;
        padding-bottom: 20px;
    }
    
    .container-nav{
        padding-top: 15px;
        padding-bottom: 5px;
        position: relative;
    }

    .nav-item-right{
        /* background-color: red; */
        height: 40px;
        position: absolute;
        right: 0;
    }

    .nav-item-right li{
        margin-right: 10px;
        margin-left: 20px;
    }

    .label-item{
        display: none;
    }

    .profile-circle{
        width: 50px;
        height: 50px;
    }
    
    .profile-circle img{
        width: 30px;
        height: 40px;
    }

    .name{
        display: none;
    }

    .left{
        background-color: white;
        width: 65%;
    }

    .right{
        width: 30%;
        height: 180px;
        background-color: white;
        box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.589);
        margin-bottom: 0px;
    }

    .tittle-items{
        /* background-color: red; */
        height: 64px;
        position: relative;
        font-size: medium;
    }

    .btn-delete{
        position: absolute;
        right: 5px;
        bottom: 18px;
        color: red;
        background-color: white;
        border: none;
        display: block;
    }

    .btn-trash{
        position: absolute;
        right: 15px;
        bottom: 25px;
        color: red;
        background-color: white;
        border: none;
        display: none;
    }

    .items{
        margin: 20px 0px 0px 0px;
        height: 105px;
        display: flex;
        padding-left: 20px;
        flex-wrap: wrap;
    }

    .tittle-items{
        margin: 0px 0px 0px 0px;
    }
    
    #user-icon{
        display: none;
    }

    .count{
        margin-left: 14px;
        margin-right: auto;
    }

    .modal-foot #button-discard{
        margin-left: 70px;
    }

}

/* Tablet */
@media(min-width: 768px) and (max-width: 1024px) {
    .items{
        height: 150px;
    }

    .count{
        margin-left: 45px;
    }

    .right{
        margin-left: -5px;
        padding-left: 0;
        padding-right: 20px;
        width: 250px;
    }

    .btn-buy{
        width: 210px;
    }

    .label-item{
        display: block;
    }
}

@font-face {
    font-family: 'metropolisregular';
    src: url('../fonts/metropolis.regular-webfont.woff2') format('woff2'), url('../fonts/metropolis.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}